/**
 * @file
 * Subtheme specific CSS.
 */

/* CARUSEL - PORTADA */



#carousel-portada {
	padding-right: 0px;
	padding-left: 0px;
	border-top: 5px solid #414951;
	border-bottom: 5px solid #383f46;
}

/* MENU PARTE DE ARRIBA  */

#cabecera {
	background-color: white;
}


/*  DESTACADOS  */

/* PARALLAX DESTACADOS  */

 /** Citas **/
 .dest-portada {
	background-image: url(../images/portada_03.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	color: #ffffff;
	height: 500px;
}

@media (min-width: 992px) {
	.dest-portada {
		background-size: cover;
	}
}
@media (max-width: 600px) {
	.dest-portada {
		height: 250px;
	}
}

.dest-portada h3 {
	font-size: 3.5rem;
	font-family: 'Lato', sans-serif;
}
.dest-portada p {
	font-size: 1.2rem;
	line-height: 2.6rem;
}

.field--name-field-destacado-descripcion {
	text-align: justify;
	color: black;
}

/* CARDS DESTACADOS */
.card {
	margin:10px 0px 10px 0px;
}

.card-body {
	background-color: #e0e4ea;
	border: solid 1px #ccccc7;
	text-align: center;
	min-height: 295px;
}

.card-title {
	background-color: #3f3e3d;
	padding: 7px;
	margin: 0px -20px 0px -20px;
	color:#ffffff;
}

.destacado-enlace {
	text-align: center;
	background-color: #d9cbd0;
	padding: 5px 0 5px 0;
	border-radius: 0.2em;
	text-transform: uppercase;
	transform: all .3s ease;
}

.destacado-enlace a:shover {

	background-color: #ffffffs;

}
/* CARDS QUITAR EL TÍTULO DE LA PÁGINA DE INICIO  */
/*.js-quickedit-page-title {
    display: none;
}
*/

.vista-destacados {
	margin: 25px 0px 25px 0px;
}



@media screen and (max-width: 400px) {
    .carousel-portada {
        diplay:none;
    }
    #bzr-leyenda {
		text-align: center;
		font-size:25px;
		/*padding-left: 10px;*/
	}
	#bzr-leyenda h2 {
		font-size:25px;
		/*padding-left: 10px;*/
	}

	#cab-log-bzr {
    	text-align: center;
	}
}

/* APARTADO DONDE ESTAMOS   */
#donde-estamos, #instalacion {
	background-color: #e0e4ea;
}
/* contenido */
#cont-donde {
	background-color: #c7cdd7;
	color: black;
	font-size: 20px;
}

#cont-donde h2 {
	background-color: #ceddec;
	margin: 10px 0 10px 0;
	padding: 5px 0 5px 0;
}

/* imagen */
#img-donde {
	border: solid 1px #e30613;
}

.jumbotron {
	padding: 20px 0px 20px 0px;
}


/* APARTADO DE GALERIA DE IMAGENES */

.marco-img {
	padding: 9px;
	border: solid 1px #827f7f;
}

.foto-img {
	border: solid 1px #827f7f;
	background-color: white;
	cursor:pointer;
	overflow: hidden;

}

.foto-img img {

	filter: grayscale(50%);
	transition: all 0.3s ease;

}


.foto-img:hover img {
	/* opacity: 0.5; */
	filter: grayscale(0);
	transform: scale(1.1);
}

