{% if page.content_varios  %}
	<div class="experimento container-fluid py-5">
		<div class="row justify-content-center">
			<div class="col-md-9 col-lg-7 px-5 text-center text-bloque">
				{{ page.content_varios }}
				<div class="btn-mas-noticias m-3"><a href="{{ rutaCompleta }}/todos-enlaces-interes" class="btn btn-secondary btn-lg boton-noticias" role="button">Más enlaces</a></div>
			</div>
		</div>
	</div>
{% endif %}