<div class="container-fluid bg-warning">
  <div class="row">
     <div class="col-12" id="navs">
      <nav>
        <ul class="nav justify-content-center p-2">
          <li class="nav-item border-left">
            <a class="nav-link" href="aviso-legal">Aviso Legal</a>
          </li>
          <li class="nav-item border-left">
            <a class="nav-link" href="sitemap">Mapa Web</a>
          </li>
          <li class="nav-item border-left">
           <a class="nav-link" href="guia-navegacion">Guía de Navegación</a>
          </li>
          <li class="nav-item border-left">
            <a class="nav-link" href="canales">Canales</a>
          </li>
          <li class="nav-item border-left">
             <a class="nav-link" href="enlaces-interes">Enlaces de interés</a>
          </li>
          <li class="nav-item border-left border-right">
            <a class="nav-link" href="accesibilidad">Accesibilidad
              <img src="{{ rutaCompleta }}/themes/custom/elcej/img/accesibilidad.gif" alt="accesibilidad" >
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>