{# CAROUSEL #}
<div id="carousel-portada" class="carousel-portada container-fluid p-0">
  <div id="slider-principal" class="carousel slide slider-portada" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#slider-principal" data-slide-to="0" class="active"></li>
      <li data-target="#slider-principal" data-slide-to="1"></li>
      <li data-target="#slider-principal" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active">
        <img src="http://bzretiro.dd:8083/themes/custom/boulderzone/images/portada_01.jpg" class="d-block w-100" alt="Nuestras Instalaciones">
          <div class="carousel-caption my-3 py-3">
            <h1 class="text-uppercase titulo-slider-tit">Entrenamientos </h1>
            <h2 class="text-uppercase titulo-slider-sub">Por libre, dirigidos en grupos o asistidos </h2>
            <div class="texto-descriptivo">Ven a probar cualquiera de la opciones</div>
          </div>
      </div>

      <div class="carousel-item">
        <img src="http://bzretiro.dd:8083/themes/custom/boulderzone/images/portada_02.jpg" class="d-block w-100" alt="Conece nuestros servicios">
          <div class="carousel-caption my-3 py-3">
            <h1 class="text-uppercase titulo-slider-tit">Más actividades </h1>
            <h2 class="text-uppercase titulo-slider-sub">Cursos de escalada, cumpleaños, etc  </h2>
            <div class="texto-descriptivo">Cursos de iniciación a la técnica gestual en la escalada,<br/>
              curso de escalada en roca, cumpleaños para pequeños y grandes, planificación a medida de entrenamientos</div>
          </div>
      </div>

      <div class="carousel-item">
        <img src="http://bzretiro.dd:8083/themes/custom/boulderzone/images/portada_03.jpg" class="d-block w-100" alt="Promoción">
          <div class="carousel-caption my-3 py-3">
            <h1 class="text-uppercase titulo-slider-tit">Nuestras Instalaciones </h1>
            <h2 class="text-uppercase titulo-slider-sub">Especializados en entrenamientos para la escalada   </h2>
            <div class="texto-descriptivo">Nuestro mayor objetivo son los entrenamientos</br>
                  Entrenamientos adaptados a todos los niveles de escalada, sin olvidar la diversión.</div>
          </div>
      </div>


    </div>

    <a class="carousel-control-prev" href="#slider-principal" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#slider-principal" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>

