<div class="row">

    <div class="col-md-6">
      <h1>{{ titulo }}</h1>
        <p>La cantidad de usuarios en la base de datos son: {{ cantidadTotal }}</p>
        <p>veo por donde van los tiros</p>
        <p>{{ descripcion }}</p>
        <h1>Usuarios en la base de datos</h1>
    <ul>
       {% for key, registro in registros %}
           <li>{{ registro }}</li>
       {% endfor %}
   </ul>
    </div>




</div>
