<div class="row">
    <div class="registro-de-usuarios">
        <iframe src="{{ direccion }}" height=100% width=100% allowfullscreen=""
        scrolling="no" frameborder="0" onload="resizeIframe(this)"></iframe>

    </div>
</div>
<div class="row">
    <div class="registro-de-usuarios">

        <p>Datos: </br>{{ datos }}</p>

    </div>
</div>
