
<div class="row">

  <div class="col-sm-6">
    <label>Fecha de Inicio</label>
    {{ formulario.fecha_inicio}}
  </div>
  <div class="col-sm-6">
    <label>Fecha de Fin</label>
    {{ formulario.fecha_fin}}
  </div>
  <div class="col-sm-12">

    
    {{ formulario.continuar}}

  </div>
</div>
